
ccminer
*.o

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
configure.lineno
depcomp
missing
install-sh
stamp-h1
ccminer-config.h*
compile
config.log
config.status
config.status.lineno
config.guess
config.sub

mingw32-config.cache

.dirstamp
.DS_Store
Desktop.ini
Thumbs.db

*.iml

Debug/
Release/
x64/Debug/
x64/Release/
*.suo
*.user
*.opensdf
*.sdf
*.pdb
*.VC.opendb
*.VC.db

.settings/
.project
.metadata
.classpath
.loadpath
.cproject
.buildpath

compat/curl-for-windows/

*.ptx
*.i
*.ii
*.gpu
*.cubin
*.stub.c
*.module_id
*.hash
*.fatbin.c
*.fatbin
*.cudafe1.cpp
*.cudafe1.c
*.cudafe2.c

