name: Docker Image CI

on:
  push:
    branches: [ linux ]
  pull_request:
    branches: [ linux ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ccminer:latest --no-cache
    - name: Docker image list
      run: docker images
